* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.data_form {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 6.5%;
  padding: 20px;
  width: 90%;
  margin: auto;
}
.data_form > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.data_form > div input,
.data_form > div select {
  padding: 8px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.data_form > div button {
  padding: 12px 20px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #3399dd;
  color: #fff;
  vertical-align: baseline;
  margin-top: 15px;
  cursor: pointer;
}
.inputs_container {
  text-align: center;
}
.inputs_container h1,
.inputs_container h3 {
  text-align: center;
  margin: 20px;
}

table {
  width: 80%;
  margin: auto;
}
thead {
  background-color: rgb(67, 67, 255);
}
th {
  padding: 5px;
}
td {
  text-align: center;
}
tbody > tr:nth-child(even) {
  background-color: pink;
}
tbody > tr:nth-child(odd) {
  background-color: rgb(214, 194, 197);
}

.edit,
.delete {
  cursor: pointer;
}
.delete:hover {
  background-color: crimson;
  color: #fff;
}
.edit:hover {
  background-color: #3399dd;
  color: #fff;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  display: none;
}
.X {
  margin-left: 20px;
  vertical-align: middle;
  background-color: crimson;
  color: white;
}
