* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(228, 226, 226);
}
button:active {
  transform: scale(0.9);
}
.head {
  text-align: center;
  margin-bottom: 40px;
}
.cards__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.card {
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.card:hover {
  transform: scale(1.03);
}
.room_image {
  width: 100%;
  height: 300px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.room_detail_box {
  padding: 16px;
}
.room_detail_box > h3 {
  text-align: center;
  color: #098483;
}

.details_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.details_box > div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
}
.details_box > div > span:nth-child(1) {
  width: 30%;
  color: #098483;
}
.details_box > div > span:nth-child(2) {
  width: 70%;
  color: crimson;
}
.night_text {
  color: #098483;
}

.book_nowbtn {
  background-color: #056e6e;
  background-image: linear-gradient(to bottom right, rgb(96, 96, 245), #15f3f3);
  margin: 20px 0;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.book_nowbtn:active {
  transform: scale(0.9);
}
.book_nowbtn:hover {
  transform: scale(1.02);
}

.select_box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}
.select_box select {
  outline: none;
  padding: 8px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  display: none;
}
.modal_content_main {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
}
.top_nav > h1 {
  font-size: 20px;
  margin: 10px 0;
}
.modal_content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.modal_content > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_nav > button {
  align-self: flex-start;
}
.X {
  margin-left: 20px;
  vertical-align: middle;
  background-color: crimson;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
