* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:active {
  transform: scale(0.9);
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.login_singup_container {
  width: 400px;
  /* height: 500px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  /* background-color: #444444; */
  height: fit-content;
  transition: all 0.5s ease;
}

.nav_top {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  font-size: 18px;
  /* border: 1px solid; */
}
.nav_top > div {
  height: 50px;
  padding: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.login_box,
.signup_box {
  padding: 20px;
  background-color: #444444;
}
.login_form,
.signup_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login_form input,
.signup_form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.login_form button,
.signup_form button {
  padding: 12px;
  outline: none;
  border: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #3399dd;
  color: #fff;
  cursor: pointer;
}

.active_tab {
  color: #fff;
  background-color: #444444;
}

.signup_box {
  display: none;
}
