*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar__section{
    background-image: url("https://cdn.pixabay.com/photo/2018/03/18/15/26/villa-3237114__340.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    color: white;

}
.top__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin: auto;
}

.menu__icon  .line{
    background-color:#fff;
    height: 2px;
    width: 30px;
    display: block;
    margin: 5px;
}

.center__div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.nav__btnbox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav__btnbox button {
    cursor: pointer;
    font-weight: 300;
}
.explore{
    background-color: rgb(243, 13, 52);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 16px;
    font-size: 18px;
    
}
.download{
    border: 1px solid #fff;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 30px;
    outline: none;
    background: none;
    color: rgb(245, 244, 244);
}


/* ====================== WORK SECTION ================ */

.work__section {
    text-align: center;
    margin-top: 20px;
}


.work__section .gallery{
    color: orange;
    font-size: 12px;
    text-align: center;
}

.work__section .dis{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    margin: 10px;
}

.work__section .images__box{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "a a a a b b b b"
    "a a a a b b b b"
    "c c d d b b b b"
    "c c d d b b b b"
    ;
}
.work__section .images__box > div {
    padding: 10px;
}
.work__section .images__box img {
    width: 100%;
    height: 100%;
    
}
.item1 {
    grid-area: a;
}
.item2 {
    grid-area: b;
}
.item3 {
    grid-area: c;
}
.item4 {
    grid-area: d;
}


/* ========================= APPRTMENTS SECTION =================== */
.appartments__section{
    margin-top: 20px;
    width: 100%;
}
.appart__heading{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 26px;
    color: rgb(32, 32, 32);
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.appartments {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 2;
}
.appartments > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 10px;
}
.appartments > div > div {
    width: 50%;
    text-align: center;
}
.appartments > div > img {
    width: 50%;
}
.app3, .app4{
    flex-direction: row-reverse;
}
.stars {
    color: orangered;
}
.viewbtn {
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border :1px solid gray; 
}

.item__app {
    text-align: center;
}


/* ============================ POSTS SECTION =============================== */
.posts__section {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
    margin-top: 30px;
    
}
.posts__section > div > h1 {
    margin: 20px 0;
}

.posts__box{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;
}
.post{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;

}

.abouts{
    text-align: left;
    font-size: 12px;
}

/* =======================TAGS SECTION ============================ */
.tag__section {
    text-align: center;
    width: 60%;
    margin: auto;
}
.tag__box{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tag__box > button {
    padding: 6px 10px;
    margin: 5px;
    border: none;
    outline: none;
    background-color: lightgray;
    border-radius: 5px;
}

@media only screen and (max-width:768px) {
    .welcome{
        font-size: 18px;
    }
    .lorem{
        font-size: 10px;
    }
    .work__section .images__box {
        grid-template-areas: 
        "a a a a a a a a"
        "c c c c d d d d"
        "b b b b b b b b"
        "b b b b b b b b"
        ;
    }
    .appartments {
        flex-direction: column;
    }
    .appartments> div {
        width: 100%;
    }
    .posts__section{
        width: 100%;
    }
    .posts__box {
        grid-template-columns: 100%;
        padding: 10px;
    }
    .posts__box > div:nth-child(5), .posts__box > div:nth-child(6){
        display: none;
    }
    .tag__section{
        width: 90%;
        text-align: left;
    }
    .tag__box{
        width: 100%;
        justify-content: flex-start;
    }

}
@media only screen and (max-width:426px) {
    .nav__btnbox{
        flex-direction: column;
        width: 100%;
    }
    .nav__btnbox button {
        width: 100%;
    }
    .welcome{
        font-size: 16px;
    }
    .lorem{
        font-size: 8px;
    }
    .work__section .images__box {
        grid-template-areas: 
        "a a a a a a a a"
        "c c c c c c c c"
        "d d d d d d d d"
        "b b b b b b b b"
        ;
    }
    .appartments> div {
        flex-direction: column;
        width: 100%;
    }
    .appartments> div > div {
        width: 100%;
    }
    .appartments> div > img {
        width: 100%;
    }
    .posts__section {
        grid-template-columns: 100%;
        padding: 10px;
    }
    .posts__section > div > h1 {
        text-align: center;
    }
    .abouts{
        text-align: center;
    }
    .icons{
        text-align: center;
    }
    .tag__section{
        width: 100%;
        text-align: center;
    }
    .tag__box{
        width: 100%;
        justify-content: center;
    }
}